 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/yeni.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 760px;
  margin: 134px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 760px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 760px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  width: 760px;
  font-size: 1.25rem;
  margin: 20px 190px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 288px;
}

.u-section-2 .u-social-icons-1 {
  height: 80px;
  min-height: 16px;
  width: 180px;
  min-width: 52px;
  margin: 60px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 60px;
}

.u-section-2 .u-icon-2 {
  height: 60px;
}

.u-section-2 .u-text-1 {
  width: 524px;
  font-size: 1.25rem;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    width: 300px;
    min-width: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1965px;
}

.u-section-3 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 1772px;
  grid-gap: 10px 10px;
  width: 100%;
  margin: 33px 0 60px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  background-image: none;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-thumbnail-1 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: -2px;
    height: -2px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: -2px;
    height: -2px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/640b80adc8a548eb5a4b91d9cafc8db3.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 573px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  min-height: 164px;
  width: 853px;
  height: auto;
  margin: 69px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 3.75rem;
  margin: 28px 0 15px;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  letter-spacing: 2px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 10px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  position: relative;
  margin: 25px 0 0;
}

.u-section-4 .u-text-4 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-5 {
  width: 225px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 225px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 262px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-7 {
  position: relative;
  margin: 25px 0 0;
}

.u-section-4 .u-text-8 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-group-1 {
    min-height: 203px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    width: 186px;
  }

  .u-section-4 .u-text-6 {
    width: 186px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-4 .u-text-5 {
    width: 142px;
    margin-top: 106px;
  }

  .u-section-4 .u-text-6 {
    width: 271px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-group-1 {
    width: 474px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-4 .u-text-5 {
    width: 133px;
    margin-top: 35px;
  }

  .u-section-4 .u-text-6 {
    width: 215px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-4 .u-text-5 {
    width: 112px;
  }

  .u-section-4 .u-text-6 {
    width: 112px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
} .u-section-5 {
  background-image: url("images/d6be95f473e57a16f7291277e6bd3c97.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 583px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-5 .u-text-1 {
  position: relative;
  font-size: 3.75rem;
  margin: 11px 20px 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 26px 20px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 155px 0 78px;
}

.u-section-5 .u-icon-1 {
  height: 38px;
  width: 38px;
  margin: -54px auto 0 20px;
  padding: 21px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 36px 155px 0 78px;
}

.u-section-5 .u-icon-2 {
  height: 39px;
  width: 39px;
  margin: -51px auto 0 20px;
  padding: 21px;
}

.u-section-5 .u-icon-3 {
  height: 39px;
  width: 39px;
  margin: 46px auto 0 20px;
  padding: 21px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 128px;
    margin-left: 64px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -24px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 128px;
    margin-left: 64px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -40px;
    margin-left: 16px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    width: 203px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -75px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-4 {
    width: 203px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -212px;
    margin-left: 13px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 88px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 176px;
    margin-left: 84px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -49px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 153px;
    margin-right: 124px;
    margin-left: 84px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -231px;
    margin-left: 9px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 145px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 17px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 33px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 69px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 7px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 152px;
    margin-right: 6px;
    margin-left: 68px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -266px;
    margin-left: 6px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 155px;
    margin-left: 6px;
  }
}