 .u-section-1 {
  min-height: 766px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  min-height: 445px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 168px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1268px;
  margin: -114px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 205px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/Erdem.jfif");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: 9px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 60px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Kadir.jfif");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 10px auto 0;
}

.u-section-1 .u-social-icons-2 {
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: 9px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/SinanErdin.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 10px auto 0;
}

.u-section-1 .u-social-icons-3 {
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: 9px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 60px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/ismail.jfif");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 10px auto 0;
}

.u-section-1 .u-social-icons-4 {
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: 9px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 161px;
    margin-left: 209px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 149px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 140px;
    margin-left: 79px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 146px;
    margin-left: 36px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}